@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

.tarjeta .tarjeta__boton {
  background-color: violet;
  color: aliceblue;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.contenedor {
  background-color: rgb(240, 105, 150);
  background: linear-gradient(180deg, rgb(240, 105, 150) 0%, rgba(240, 120, 150, 0.8953956583) 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 320px) {
  .contenedor {
    grid-template-columns: 1fr;
  }
}
.contenedor .header {
  grid-column: 1/4;
  grid-row: 1/2;
}
@media (max-width: 768px) {
  .contenedor .header {
    grid-column: 1/3;
  }
}
@media (max-width: 320px) {
  .contenedor .header {
    grid-column: 1/2;
  }
}
.contenedor .main {
  grid-column: 1/4;
  grid-row: 2/3;
}
@media (max-width: 768px) {
  .contenedor .main {
    grid-column: 1/3;
  }
}
@media (max-width: 320px) {
  .contenedor .main {
    grid-column: 1/2;
  }
}
.contenedor .piePagina {
  grid-column: 1/4;
  grid-row: 3/4;
}
@media (max-width: 768px) {
  .contenedor .piePagina {
    grid-column: 1/3;
  }
}
@media (max-width: 320px) {
  .contenedor .piePagina {
    grid-column: 1/2;
  }
}

.portada {
  background-color: rgb(240, 120, 150);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  width: 100%;
  background-size: cover;
}
@media (max-width: 768px) {
  .portada {
    flex-direction: column-reverse;
    max-width: 768px;
    width: 768px;
  }
}
@media (max-width: 320px) {
  .portada {
    max-width: 320px;
    width: 320px;
  }
}
.portada .img1 {
  width: 25%;
  height: 25%;
}
@media (max-width: 768px) {
  .portada .img1 {
    height: 50%;
    animation-name: movimiento;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
  }
}
.portada .img2 {
  width: 25%;
  height: 25%;
}
@media (max-width: 768px) {
  .portada .img2 {
    display: none;
  }
}
.portada h1 {
  font-size: 75px;
  color: black;
  text-align: center;
}
@media (max-width: 768px) {
  .portada h1 {
    font-size: 40px;
  }
}
@media (max-width: 320px) {
  .portada h1 {
    font-size: 50px;
    max-width: 320px;
    width: 300px;
    padding: 0px;
    margin: 0px;
  }
}

@keyframes movimiento {
  25% {
    transform: translate(270px, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-270px, 0);
  }
}
.navbar {
  background-color: rgb(240, 120, 150) !important;
  font-size: 45px;
  margin: 0px;
}
@media (max-width: 768px) {
  .navbar {
    font-size: 25px;
  }
}
@media (max-width: 320px) {
  .navbar {
    font-size: 20px;
    max-width: 320px;
  }
}
.navbar .row, .navbar .container, .navbar .container-fluid {
  flex-direction: column;
}
.navbar a:visited {
  color: rgb(201, 75, 251);
}
.navbar a:hover {
  color: white;
}

.main .h2-index {
  text-align: center;
  font-size: 50px;
}
@media (max-width: 768px) {
  .main .h2-index {
    font-size: 30px;
  }
}
.main .pantallaPrincipal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  margin: 20px;
}
@media (max-width: 768px) {
  .main .pantallaPrincipal {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    margin: 10px;
    max-width: 768px;
    width: auto;
  }
}
.main .pantallaPrincipal .imagenPrincipal {
  width: 100%;
}
@media (max-width: 320px) {
  .main .pantallaPrincipal .imagenPrincipal {
    max-width: 320px;
  }
}
.main .pantallaPrincipal .p-index {
  font-size: 150%;
  border: solid 2px black;
  border-radius: 5px;
  padding: 10px;
}
.main .pantallaPrincipal .p-index .color {
  color: white;
}
@media (max-width: 768px) {
  .main .pantallaPrincipal .p-index {
    font-size: 30px;
    text-align: start;
    border: none;
  }
}
@media (max-width: 320px) {
  .main .pantallaPrincipal .p-index {
    font-size: 15px;
  }
}
.main .p-contact {
  font-size: 150%;
}
@media (max-width: 768px) {
  .main .p-contact {
    width: 650px;
    height: 280px;
    margin: 30px auto;
    padding: 30px;
  }
}
@media (max-width: 320px) {
  .main .p-contact {
    width: 300px;
    height: 300px;
    margin: 2px;
    padding: 10px;
    font-size: 17px;
  }
}
.main .p-rrgg {
  font-size: 150%;
}

.formulario {
  background-color: rgb(240, 120, 150);
  width: 60%;
  border-radius: 5px;
  font-size: auto;
  margin: 30px auto;
  padding: 30px;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  text-align: start;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}
@media (max-width: 768px) {
  .formulario {
    width: 550px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 320px) {
  .formulario {
    width: 320px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
  }
}
.formulario button {
  width: auto;
  height: auto;
  font-size: 25px;
  border-radius: 5px;
  grid-column: 1/5;
  align-items: center;
  color: aliceblue;
  transition: 0.5s;
  background-color: violet;
}
.formulario button:hover {
  transform: rotateX(360deg);
}
@media (max-width: 768px) {
  .formulario button {
    grid-column: 1/3;
  }
}
.formulario .dato {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 10px;
  transition: 0.9s;
}
.formulario .dato input {
  color: white;
  font-size: auto;
  background-color: transparent;
}
.formulario .dato textarea {
  background-color: transparent;
  font-size: auto;
  color: white;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .formulario .dato textarea {
    font-size: 20px;
  }
}
.formulario .dato-nombre {
  grid-column: 1/3;
}
.formulario .dato-nombre:hover {
  transform: scale(1) translate(90px);
  background-color: rgb(240, 120, 150);
}
@media (max-width: 768px) {
  .formulario .dato-nombre:hover:hover {
    transform: none;
  }
}
.formulario .dato-apellido {
  grid-column: 3/5;
  padding-left: 10px;
}
.formulario .dato-apellido:hover {
  transform: rotateX(360deg);
  background-color: rgb(240, 120, 150);
}
@media (max-width: 768px) {
  .formulario .dato-apellido {
    grid-column: 1/3;
    padding-left: 0px;
  }
  .formulario .dato-apellido:hover {
    transform: none;
  }
}
.formulario .dato-tel {
  grid-column: 1/1;
}
.formulario .dato-tel:hover {
  transform: rotate(360deg);
  background-color: rgb(240, 120, 150);
}
@media (max-width: 768px) {
  .formulario .dato-tel {
    grid-column: 1/3;
  }
  .formulario .dato-tel:hover {
    transform: none;
  }
}
.formulario .dato-email {
  grid-column: 2/5;
  padding-left: 10px;
}
.formulario .dato-email:hover {
  transform: scaleX(1.5) translate(-50px);
  background-color: rgb(240, 120, 150);
}
@media (max-width: 768px) {
  .formulario .dato-email {
    grid-column: 1/3;
    padding-left: 0px;
  }
  .formulario .dato-email:hover {
    transform: none;
  }
}
.formulario .dato-motivo {
  grid-column: 1/5;
}
.formulario .dato-motivo:hover {
  transform: scale(1.2) translate(50px);
  background-color: rgb(240, 120, 150);
}
@media (max-width: 768px) {
  .formulario .dato-motivo {
    grid-column: 1/3;
  }
  .formulario .dato-motivo:hover {
    transform: none;
  }
}
.formulario .dato-genero {
  grid-column: 1/5;
  text-align: center;
}
@media (max-width: 768px) {
  .formulario .dato-genero {
    grid-column: 1/3;
    text-align: start;
    padding-left: 190px;
  }
  .formulario .dato-genero:hover {
    transform: none;
  }
}
@media (max-width: 320px) {
  .formulario .dato-genero {
    grid-column: 1/2;
    text-align: start;
    padding-left: 10px;
  }
  .formulario .dato-genero:hover {
    transform: none;
  }
}
.formulario .acepta {
  grid-column: 1/6;
  grid-row: 5/6;
  text-align: center;
  font-size: auto;
}
@media (max-width: 768px) {
  .formulario .acepta {
    grid-column: 1/3;
    text-align: center;
    grid-row: 7/8;
  }
}
@media (max-width: 320px) {
  .formulario .acepta {
    grid-column: 1/2;
    text-align: start;
    display: flex;
  }
}
.formulario .acepta input {
  margin-left: 15px;
}

.tarjeta {
  width: 600px;
  margin: 30px;
  margin-left: 30%;
  font-size: 25px;
  border: solid 2px black;
  padding: 10px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(240, 120, 150);
}
@media (max-width: 768px) {
  .tarjeta {
    margin: 30px;
  }
}
.tarjeta .tarjeta__img {
  width: 100%;
}
.tarjeta .tarjeta__list {
  display: flex;
  flex-direction: column;
}
.tarjeta .tarjeta__titulo {
  list-style: none;
  text-decoration-line: underline;
  font-size: 45px;
  text-align: center;
}
.tarjeta ul {
  display: flex;
  flex-direction: row;
}

.piePagina {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 20px;
  column-gap: 20px;
  align-items: start;
}
@media (max-width: 768px) {
  .piePagina {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px 70px;
    max-width: 768px;
    width: auto;
  }
}
@media (max-width: 320px) {
  .piePagina {
    max-width: 320px;
    padding: 0px;
  }
}
.piePagina .redes {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  justify-content: space-around;
  font-size: 50px;
}
.piePagina .redes .redes__ig {
  color: #fb3958;
}
.piePagina .redes .redes__fb {
  color: #3a5795;
}
.piePagina .redes .redes__wpp {
  color: #4fcb5b;
}
@media (max-width: 768px) {
  .piePagina .redes {
    gap: 30px;
    font-size: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding-left: 100px;
  }
}
@media (max-width: 320px) {
  .piePagina .redes {
    gap: 10px;
    font-size: 30px;
    padding: 5px 100px;
  }
}
.piePagina .news {
  margin: 2px 30px;
  display: flex;
  flex-direction: column;
}
.piePagina .news input {
  padding: 10px 25px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(240, 120, 150);
  color: white;
}
@media (max-width: 768px) {
  .piePagina .news input {
    font-size: 20px;
    margin: 0px;
  }
}
@media (max-width: 320px) {
  .piePagina .news input {
    width: 260px;
    font-size: 15px;
    padding: 0px;
    align-items: center;
  }
}
.piePagina .news button {
  padding: 5px;
  font-size: 20px;
  background-color: violet;
  color: white;
}
@media (max-width: 768px) {
  .piePagina .news button {
    width: 550px;
    font-size: 20px;
    margin: 0px;
  }
}
@media (max-width: 320px) {
  .piePagina .news button {
    width: 260px;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
