.formulario{
    background-color:   $colorSecundario;
    width: 60%;
    border-radius: 5px;
    font-size: auto;
    margin: 30px auto;
    padding: 30px;
    color: rgb(0, 0, 0);
    border-radius: 20px; 
    text-align: start;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    overflow: hidden;
    @media(max-width:768px){
      width: 550px;
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width:320px){
      width: 320px;
      display: grid;
      grid-template-columns: 1fr;
      margin: 0px;
    }
    button{
        width: auto;
        height: auto;
        font-size: 25px;
        border-radius: 5px;
        grid-column: 1/5;
        align-items: center;
        color: aliceblue;
        transition: 0.5s;
        &:hover {
          transform: rotateX(360deg);}
        background-color: $colorBoton;
        @media (max-width:768px){
          grid-column: 1/3;
        }
      }
    .dato{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-bottom: 10px;
        transition: 0.9s;
        input{
            color: white;
            font-size: auto;
            background-color: transparent;
        }
        textarea{
            background-color: transparent;
            font-size: auto;
            color: white;
            height: 100%;
            width: 100%;
            @media (max-width:768px){
              font-size: 20px;
            }
          }
    }
    .dato-nombre{
        grid-column: 1/3;
        &:hover {
          transform: scale(1) translate(90px);
          background-color: $colorSecundario;
        }

    }
    .dato-apellido{
        grid-column: 3/5;
        padding-left: 10px;
        &:hover {
          transform: rotateX(360deg);
          background-color: $colorSecundario;
        }
        @media (max-width:768px){
        grid-column: 1/3;
        padding-left: 0px;
        }
    }  
    .dato-tel{
        grid-column: 1/1;
        &:hover {
          transform: rotate(360deg);
          background-color: $colorSecundario;
        }
        @media (max-width:768px){
        grid-column: 1/3;
        }
    }
    .dato-email{
        grid-column: 2/5;
        padding-left: 10px;
        &:hover {
          transform: scaleX(1.5) translate(-50px);
          background-color: $colorSecundario;
        }
        @media (max-width:768px){
        grid-column: 1/3;
        padding-left: 0px;
        }
    }
    .dato-motivo{
        grid-column: 1/5;
        &:hover {
          transform: scale(1.2) translate(50px);
          background-color: $colorSecundario;
        }
        @media (max-width:768px){
          grid-column: 1/3;
        }
    }
    .dato-genero{
        grid-column: 1/5;
        text-align: center;
        @media (max-width:768px){
          grid-column: 1/3;
          text-align: start;
          padding-left: 190px;
        }
        @media (max-width:320px){
          grid-column: 1/2;
          text-align: start;
          padding-left: 10px;}

    }
    .acepta{
        grid-column: 1/6;
        grid-row: 5/6;
        text-align: center;
        font-size: auto;
        @media (max-width:768px){
          grid-column: 1/3;
          text-align: center;
          grid-row: 7/8;
        }
        @media (max-width:320px){
          grid-column: 1/2;
          text-align: start;
          display: flex;
        }
        input{
            margin-left: 15px;
        }
    }
}
