.portada{
    background-color: $colorSecundario;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    width: 100%;
    background-size: cover;
    @media(max-width:768px){
        flex-direction: column-reverse;
        max-width: 768px;
        width: 768px;
    }
    @media(max-width:320px){
        max-width: 320px;
        width: 320px;
    }
        .img1 {
            width: 25%;
            height: 25%;
            @media(max-width:768px){
                height: 50%;
                animation-name: movimiento;
                animation-duration: 7s;
                animation-iteration-count: infinite;
                animation-delay: 2s;
            }
        }
        .img2 {
            width: 25%;
            height: 25%;
            @media(max-width:768px){
                display: none;
            }
        }
        h1{
            font-size: 75px;
            color: black;
            text-align: center;
            @media(max-width:768px){
                font-size: 40px;
            }
            @media(max-width:320px){
                font-size: 50px;
                max-width: 320px;
                width: 300px;
                padding: 0px;
                margin: 0px;
              }
            }
        }
        @keyframes movimiento {

            25%{
                transform: translate(270px,0);
            }
            50%{
                transform: translate(0,0);
            }
            75%{
                transform: translate(-270px,0);
            }
        }