$colorPrincipal:rgb(240, 105, 150);
$colorSecundario:rgb(240, 120, 150);
$colorBoton:  violet;
$border:solid 2px black;
$fontsizep: 150%;
$redes:(redes__ig:#fb3958,
        redes__fb:#3a5795,
        redes__wpp:#4fcb5b);